Repository kripod/gatsby-starter-strict: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Use the non-async version of react-helmet
  gatsby-config.js
  package.json
  src/components/Layout.tsx
  src/pages/404.tsx
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

chore(deps): update
  package.json
  yarn.lock
Due: prettier --write

Fix type-checking JS files
  package.json
  tsconfig.json
Due: prettier --write

chore(deps): update
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update
  yarn.lock
Due: none

Provide a less invasive code editing experience
  .eslintrc.json
  .vscode/settings.json
  package.json
  yarn.lock
Due: prettier --write

Always include arrow function parens
  .prettierrc.json
Due: prettier --write

chore(deps): update
  .prettierrc.json
  package.json
  yarn.lock
Due: prettier --write

chore(scripts): simplify formatter
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,yml,md}
  eslint --fix: any of: *.{ts,tsx,js}
  stylelint --fix: any of: *.{ts,tsx,js}
