Repository kripod/gatsby-starter-strict: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Change order of rules in lint-staged config
  .lintstagedrc.json
Due: prettier --write

Update dependencies
  package.json
  yarn.lock
Due: prettier --write

Add React Testing Library to devDependencies
  package.json
  yarn.lock
Due: prettier --write

Add '.gitattributes'
  .gitattributes
Due: none

Add support for dynamic imports
  tsconfig.json
Due: prettier --write

Fix TypeScript config issues
  tsconfig.json
Due: prettier --write

Remove ambiguous "start" script
  package.json
Due: prettier --write

Use custom linting presets with better auto-fixing
  .eslintrc.json
  package.json
  src/components/Layout.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Assign names to page components
  src/pages/.eslintrc.json
  src/pages/404.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Revert "Update dependencies"
  package.json
  yarn.lock
Due: prettier --write

Revert "Assign names to page components"
  src/pages/.eslintrc.json
  src/pages/404.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Revert "Use custom linting presets with better auto-fixing"
  .eslintrc.json
  package.json
  src/components/Layout.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Update VS Code config
  .vscode/settings.json
Due: prettier --write

Fix VS Code ESLint config
  .vscode/settings.json
Due: prettier --write

Fix ESLint in VS Code again
  .vscode/settings.json
Due: prettier --write

Update VS Code ESLint settings
  .vscode/settings.json
Due: prettier --write

Avoid formatting script files twice
  .vscode/settings.json
Due: prettier --write

Specify default formatter for VS Code
  .vscode/settings.json
Due: prettier --write

Remove Stylelint
  .stylelintrc.json
  .vscode/extensions.json
  package.json
  yarn.lock
Due: prettier --write

Update license
  LICENSE
Due: none

Simplify configuration files
  .gitignore
  .lintstagedrc.json
  .vscode/extensions.json
  .vscode/settings.json
  tsconfig.json
Due: prettier --write

Greatly simplify ESLint configuration
  .eslintrc.json
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Fix linting issues
  src/components/Layout.tsx
  src/pages/404.tsx
  src/pages/index.tsx
Due: eslint --fix, stylelint --fix

Provide Chakra UI as the default component library
  package.json
  src/components/Layout.tsx
  src/theme.d.ts
  src/utils/theme.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Add offline mode support
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Start using gatsby-plugin-chakra-ui
  gatsby-config.js
  package.json
  src/emotion.d.ts
  src/gatsby-plugin-chakra-ui/theme.ts
  src/theme.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Use Chakra UI theme shadowing excluisively
  src/components/Layout.tsx
  src/utils/theme.ts
Due: eslint --fix, stylelint --fix

Ignore ".env" files
  .gitignore
Due: none

Sort fields in 'package.json'
  package.json
Due: prettier --write

Shrink favicon size
  src/assets/favicon.png
Due: none

Remove gatsby-plugin-offline
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Move some devDependencies to dependencies
  package.json
Due: prettier --write

Simplify handling site metadata
  gatsby-config.js
  src/components/Layout.tsx
Due: eslint --fix, stylelint --fix

Export LayoutProps
  src/components/Layout.tsx
Due: eslint --fix, stylelint --fix

Prefer using non-default exports for components
  src/components/Layout.tsx
  src/pages/404.tsx
  src/pages/index.tsx
Due: eslint --fix, stylelint --fix

Path conditions:
  prettier --write: any of: *.{json,yml,md}
  eslint --fix: any of: *.{ts,tsx,js}
  stylelint --fix: any of: *.{ts,tsx,js}
